* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.tgz binary
*.bz2 binary
*.7z binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
